{{#sortable-group tagName="div" onChange="reorderItems" as |group|}}
  {{#each sortedShades as |shade|}}
    {{#sortable-item tagName="div" className="dog" model=shade group=group handle=".handle"}}
        <button class="btn btn-default btn-lg btn-block handle">
            <sup>{{shade.weight}}</sup> {{shade.color.title}} <b>{{shade.value}}</b>
        </button>
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}
