html, body {
  height: 100%;
  margin: 0;
  background: url(https://macymarie.files.wordpress.com/2013/01/icon6.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#inception-dashboard {
  height: 100vh;
}

#inception-dashboard div {
  position: absolute;
  cursor: pointer;
  top:150px;
  left: 50%;
  opacity:0.75;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-size: 2em;
  font-family: 'Great Vibes', cursive;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #aaa;
}

#inception-display {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  position: fixed;

  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
      /* bottom, image */
    url(https://media.giphy.com/media/ONm7TiPj6xzEc/giphy.gif) no-repeat center center fixed;


  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 10;
}

#inception-display.important {
  font-size: 2em;
}

#inception-display.inverse {
  background: #fff;
  color: #000;
}

#inception-display.sponsored {
  background: #000 url('http://www.androidcentral.com/sites/androidcentral.com/files/styles/large/public/topic_images/2015/amazon-echo-topic.png?itok=AFjNWUEH') no-repeat 50% 50%;
}

.hidden {
  display: none;
}

#inception-display.feminine {
  font-family: 'Patrick Hand', cursive;
}

#inception-display.masculine {
  font-family: 'Lora', serif;
}

.container {
  position: absolute;
  top: 25%;
  left: 0;
  margin-top: -10em;
  width: 100%;
  opacity:1;
  text-align: center;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
}

.container > span {
  display: block;
  font-size: 20em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #FFF;
  margin: 0;
  padding: 90px 0 25px 0;
  transform-origin: 50% 100%;
  text-shadow: 2px 2px 2px #000;
  animation-duration: .3s; /* This can be overridden by the 'animated-list' component to match the min duration */
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
  opacity: 0.9;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

@keyframes fadeAndScale {
  from {
    opacity: 0.5;
    font-size: 3em;
  }
  to {
    opacity: 0.9;
    font-size: 30em;
  }
}

@media screen and (max-device-width : 320px)
{
  body
  {
    font-size: 1em;
  }
}
@media screen and (max-device-width : 1204px)
{
  body
  {
    font-size: 2em;
  }
}
