<h2>{{model.user.username}}'s Name Alchemist's Laboratory</h2>

<p>From conception to inception, give me a name.<br />
    <img src="http://cdn-static.denofgeek.com/sites/denofgeek/files/styles/insert_main_wide_image/public/4/22//neverending_story_princess.jpg?itok=RatYCToz" /></p>

<div>
    <h3>Conception</h3>
    <p>Your palette:</p>
  {{user-shades-list shades=model.user.palette.getShades}}
</div>

<div>
    <h3>Inception</h3>
    <p>Your creation:</p>
    <ul>
        <li>jezebel</li>
    </ul>
</div>
