<div class="container-fluid" style="height: 100vh;">
    <div class="row">
        <div class="col-xs-6 col-md-3">
          {{user-shades-list updateCharacterWeightRanks=(route-action "updateCharacterWeightRanks" model.user) user=model.user shades=model.user.palette.getShades}}
        </div>
        <div class="col-xs-6 col-md-9">
          {{ranked-characters-list user=model.user characters=model.characters}}
        </div>
    </div>
</div>
