<div class="container-fluid" style="height: 100vh;">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <h1>{{model.user.username}}'s palettes</h1>
          {{#each model.user.palettes as |palette|}}
            {{user-palette updateShadeWeights=(route-action 'updateShadeWeights') palette=palette}}
          {{/each}}
        </div>
        <div class="col-xs-6 col-md-9">
        </div>
    </div>
</div>
